.entry_page {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card {
  padding: 15px;
  width: 20rem;
  height: 24rem;

  box-shadow: 6px 5px 25px 0px rgba(0, 0, 0, 0.17);
  -webkit-box-shadow: 6px 5px 25px 0px rgba(0, 0, 0, 0.17);
  -moz-box-shadow: 6px 5px 25px 0px rgba(0, 0, 0, 0.17);
}
