.default_layout {
  display: grid;
  grid-template-rows: 80px auto 3rem;
  grid-template-areas: "header" "main" "footer";
}

header {
  grid-area: header;
}
main {
  grid-area: main;
  min-height: 88vh;
}
footer {
  grid-area: footer;
  background: black;
  padding: 1rem;
  color: white;
}

.link {
  text-decoration: none;
  margin-right: 10px;
  color: rgb(236, 236, 236);
}

.link:hover {
  color: white;
}
